plot/
jax_cache/
*.json
*.prof
c_generated_code/
**/__pycache__/
*.csv
**.tmp.**
*.TXT
*.pkl
*.egg*info/

# 权重文件
checkpoints/**/*.npz
checkpoints/**/*.pkl

# 备份文件
*.tar.gz

# 数据文件
*.h5
data/vae_dataset/

# 测试结果图片
*.png